<h1>Network Management</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @networks.each do |network| %>
  <tr>
    <td><%=h network.name %></td>
    <td><%=h network.description %></td>
    <td><%= link_to 'Show', :action=> "show", :name => network.name %></td>
    <td><%= link_to 'Edit', edit_network_path(network) %></td>
    <td><%= link_to 'Destroy', network, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New network', new_network_path %>
