<div class="block">
	<div id="mini-profile">
		<div id="mini-profile-image">
				<% if @user.photo.url(:medium) != "/photos/medium/missing.png" %>
					<%= image_tag @user.photo.url(:medium) %>
				<% else %>
					<%= image_tag "/images/avatar.png", :width => 175 %>
				<% end %>
		</div>
		
		<div style="clear:both"></div>
	</div>
	<div class="block_body">
		<table>
			<tr><td><div id="mini-profile-actions">		
			<strong></strong>
			<%= link_to @user.name, root_path, :style=>"font-size:14px" %><br />
			San Jose, CA<br/>
			United States
		</div></td></tr>
			<tr>
				<td><%= link_to "Add Network", {:controller => "memberships", :action => "new"},:style=>"font-size:18px" %></td>
			</tr>
			<tr>
				<td>
		<strong>Networks:</strong></td><td><%= @user.networks.count %></td>
			</tr>
			<tr><td>
		<strong>Images:</strong></td><td><%= @user.photos.count %></td></tr>
		<tr><td>
		<strong>Videos:</strong></td><td><%= @user.videos.count %></td></tr>
		<tr><td>
		<strong>Documents:</strong></td><td><%= @user.documents.count %></td></tr>

		</table>
	</div>
</div> <!-- user_info -->
