<h3>Edit My Account</h3>

<% form_for @user, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
	<%= f.label :name %><br />	
	<%= f.text_field :name %><br />
	<br />
	<%= f.label :email %><br />
	<%= f.text_field :email %><br />
	<br />
	<%= f.file_field :photo %><br/>
  <%= f.submit "Update" %>
<% end %>
<br />
<table>
		<tr><th>My Networks</th></tr>
	<% @user.memberships.collect{|m| %>
		<tr><td><%=m.network.name%></td><td><%= link_to "Remove", :action => "remove_network", :id => m.network_id %></td></tr>
	<%  } %>
</table>
<br /><%= link_to "My Account", root_path %>
