<h2>Add New Photo</h2>
<% @photo_add = current_user.photos.new(:network_id => @network.id) %>
<% form_for :photo_add, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :network_id %>
	<%= f.hidden_field :user_id %>
  <%= f.file_field :photo %><br/><br/><br/>
  <%= link_to 'Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', :tab => "Media", :photo => "index" %><%= f.submit "Submit" %>
<% end %>

