<h1>Microposts#new</h1>
<% form_for @micropost do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :network_id %>
  <%= f.label :content %><br />
	<%= f.text_field :content %><br />
  <%= f.submit "Post" %>
<% end %>
